.box{
    width: 200px;

    border: 5px solid gray;
    text-align: center;
    padding: 50px;
    margin: 50px 100px; /*first:top-bottom, second:left-right */

    /* margin-top: 50px;
    margin-left: 100px; */

}


.title{
    display: inline;
}
.title2{
    display: none;
}

.description{
    color: #ff0000;
}

.description2{
    color: rgba(255,0,0,0.5);
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    width: 50%;
    margin: auto;

}

/* .title{
    color:burlywood;
    margin-top: 100px;
    margin-left: 100px;
} */






/* .title1 {
    color:antiquewhite;
    font-size: 30px
}
.title2 {
    color:aqua;
    font-size: 40px;
    font-style: italic
}
#kun_style {
    color:blue;
    font-size: 30px;
} */