.box {
    width: 200px;

    border: 5px solid gray;
    text-align: center;
    padding: 50px;
    margin: 50px 100px;
    /* position: fixed; */
    /*first:top-bottom, second:left-right */

    /* margin-top: 50px;
    margin-left: 100px; */

}


.title {
    display: inline;
}

.title2 {
    display: none;
}

.description {
    color: #ff0000;
}

.description2 {
    color: rgba(255, 0, 0, 0.5);
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    width: 50%;
    margin: auto;
    font-family: "Jersey 15", serif;
    font-style: normal;

}

.box-all{
    width: 250px;
    height: 250px;
    margin-top: 5px;
}
.box1{
    border: 5px, solid, red;
    position: relative;
    left: 250px;
    top: 20px;
    background-color: green;
}
.box2{
    border: 5px, solid, green;
}
.box3{
    border: 5px, solid, blue;
}
.red{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px, solid, red;
    background-color: red;
    position: absolute;
    left: 100px;
    top: 100px;


}
/* .title{
    color:burlywood;
    margin-top: 100px;
    margin-left: 100px;
} */






/* .title1 {
    color:antiquewhite;
    font-size: 30px
}
.title2 {
    color:aqua;
    font-size: 40px;
    font-style: italic
}
#kun_style {
    color:blue;
    font-size: 30px;
} */